flows.json
[
    {
        "id": "e2d5454bb9e99b83",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e3555f3a74bbd02",
        "type": "mqtt-broker",
        "name": "mosquitto broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dbf835e12a2a5842",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "mqtt_logs",
        "name": "mqtt_data",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "7e2b47f52364ec03",
        "type": "mqtt in",
        "z": "e2d5454bb9e99b83",
        "name": "MQTT Pump",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6e3555f3a74bbd02",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "3d8defc818e4f196"
            ]
        ]
    },
    {
        "id": "3d8defc818e4f196",
        "type": "function",
        "z": "e2d5454bb9e99b83",
        "name": "Format for InfluxDB",
        "func": "// Handle both numeric and string values\nif (typeof msg.payload === 'number') {\n  // Store numeric values under 'numeric_value'\n  msg.payload = {\n    numeric_value: msg.payload,\n    source: \"pump1\"\n  };\n} else {\n  // Store string values under 'string_value'\n  msg.payload = {\n    string_value: msg.payload,\n    source: \"pump1\"\n  };\n}\n\nmsg.measurement = \"pump_status\";\nmsg.tags = { source: \"mqtt_pump\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "6a736e2c5b1ae59e"
            ]
        ]
    },
    {
        "id": "6a736e2c5b1ae59e",
        "type": "influxdb out",
        "z": "e2d5454bb9e99b83",
        "influxdb": "dbf835e12a2a5842",
        "name": "mqtt_logs",
        "measurement": "pump_status",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "mqtt_logs",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 800,
        "y": 380,
        "wires": []
    }
]